/*
	main style
	@author jonathan entila

*/

html,
body {
	margin:0;
	padding:0;
	text-align:center;
}

.header {
	width:1100px;
	margin:0px auto;
	padding:20px;
}
.container {
	width:1100px;
	margin:0px auto;
	padding:20px;
}

#progressWrapOne,
#progressWrapTwo,
#progressWrapThree {
	width:100%;
	background-color:#ddd;
	border:1px solid #000;
	margin-bottom: 20px;
	text-align: center;
	overflow: hidden;
}

#progressWrapOne #progressOneStatus,
#progressWrapTwo #progressTwoStatus,
#progressWrapThree #progressThirdStatus {
	color: #FFF;
	position: absolute;
}

#progressWrapOne .percent,
#progressWrapTwo .percent,
#progressWrapThree .percent {
	color: #FFF;
	position: absolute;
	left:52%;
}

.progressClass {
	height: 30px;
	padding:5px 0px;
	background-color:#333;
}

.bgprogresscolorOne { width: 76%; }
.bgprogresscolorTwo { width: 88%; }
.bgprogresscolorThird {	width: 67%; }

.displaynone { display: none; }
.display { display: block; }

button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

button { margin:5px 10px !important; }
/* Responsive */
@media only screen
and ( min-width:320px )
and ( max-width:765px ) {
	.header, .container {width:100%;}
	h1 { font-size:100%; }
}

@media only screen
and ( min-width:765px )
and ( max-width:1200px ) {
	.header, .container {width:100%;}
	h1 { font-size:100%; }
}